



body {
    font-size: 16px;
    color: #fff;
    background-color: #daa520;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none; 
}

/** HEADER **/
#header-nav {
    background-color: #8b0000;
    border-radius: 0;
    border: 2px; 
} 
  

/* Restaurant name */

.navbar-brand h1{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    text-align: left; 
    color: #b8860b;
    font-size: 1.5em;
    text-transform: uppercase;
    box-shadow: none;
    position:relative;
    clear: both;
    float: left;
 
} 
.nav-item {
    border: #222;
    text-align: center;  
    font-size: 1.5em; 
    background-color: #b8860b;
} 
/* Button */

.navbar-header button.navbar-toggle  .navbar-nav  .nav-item {
    border: 2px solid #222;

  } 
  
.navbar-toggler {
    float: right;
    position: relative; 
    clear: both;
}
 
 
.content  {
    text-align: justify;
    color:#fff;
    background-color: beige;
    padding-left: 8px;
    padding-right: 8px;   
}

p {
    background-color: darkred;
}
#title2 {
     text-align: center; 
     padding-top: 30px;
     color: #222;;
}
h3 {
    background-color: #222;
    text-align: center;
    padding-top: 15px;
    color: #fff;
    
    margin-top: 2px

}
/* Media Queries*/  

/********** Large devices only **********/
@media (min-width: 1200px) {
    .nav-item  {
        display: none;
    } 

    .content {
        width: 100%;
    }
     
}

/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    .nav-item  {
        display: none;
    }
    
    .content {
        width: 100%;
    }
     
}

/********** Small devices only **********/    
@media (min-width: 768px) and (max-width: 991px) {
    
    .content {
        width: 100%;
    }
     
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    
}
