



body {
    font-size: 16px;
    color: #fff;
    background-color: #daa520;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none; 
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

/** HEADER **/
#header-nav {
    background-color: #8b0000;
    border-radius: 0;
    border: 2px; 
} 
  

/* Restaurant name */

.navbar-brand h1{
    padding-top: 25px;
    padding-bottom: 25px; 
    padding-left: 20px;
    text-align: left; 
    color: #b8860b;
    font-size: 1.5em;
    text-transform: uppercase;
    box-shadow: none;
    position:relative;
    clear: both;
    float: left;
    
 
} 

#header-nav {
    position: relative;

}
.nav-item {
    border: #222;
    text-align: center;  
    font-size: 1.5em; 
    background-color: #b8860b;
    width: auto;
    margin-left: 3px;
    margin-right: 3px;
} 
/* Button */

.navbar-header button.navbar-toggle  .navbar-nav  .nav-item {
    border: 2px solid #222;
    margin-right: auto;

  } 
  
.navbar-toggler {
    float: right;
    position: relative; 
    clear: both;
}
 

#section1 {
    position: ;
}
.content  {
    text-align: justify;
    color:#fff;
    background-color: beige;
    padding-left: 8px;
    padding-right: 8px; 
    margin-right: 30px;  
}


p {
    background-color: darkred;
}
#title2 {
     text-align: center; 
     padding-top: 30px;
     color: #222;;
}
h3 {
    background-color: #222;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    
    margin-top: 2px

}
#signature {
    background-color: #daa520;
}
/* Media Queries*/  

/********** Large devices only **********/
@media (min-width: 1200px) {
    .nav-item  {
        display: none;
    } 

    .content {
        width: 100%;
    }
     
}

/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    .nav-item  {
        display: none;
    }
    
    .content {
        width: 100%;
        position: relative;
        text-align: justify; 
    }
    .navbar-brand {
        float: left;
        position: relative;

    } 
}

/********** Small devices only **********/    
@media (min-width: 768px) and (max-width: 991px) {
    
    .content {
        width: 100%;
    }
    .navbar-brand {
        float: left;
        position: relative; 
        clear: both;

    } 
     
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    .content {
        width: 100%;
    }
    .navbar-brand {
        float: left;
        position:relative  ; 
        clear: both; ;
    } 
}
